[2021-04-13 14:39] philbenoit opened #1 "Deploy issues to AWS"
After connecting the AWS account through the docs, and verifying, Encore is having issues deploying a new setup for me.

[2021-04-13 14:40] philbenoit opened #2 "Would like the ability to remove environments"
If I have setup an environment I can not currently delete it.

It would be handy to have some delete functionality from the dashboard.

[2021-04-13 15:45] eandre commented on #1
Thanks for the report! This is most likely because the IAM Role has insufficient permissions. We need to update the AWS Connect instructions to better document this.

Unfortunately AWS does not make it easy to know exactly what permissions are needed, and as we expand what Encore supports the necessary permissions will likely grow in scope. `AdministratorAccess` will get you there obviously, but I

[2021-04-13 17:45] eandre commented on #2
Agreed, this is absolutely something we need to support. We have the functionality on the backend, just need to expose it in the frontend.

[2021-04-14 17:40] jfcg opened #5 "XSS in cli/daemon"
https://github.com/encoredev/encore/blob/1df6e06e67d300d5053e6559759338232af405aa/cli/daemon/runtime/runtime.go#L38-L51

Cross-site scripting vulnerability due to unsanitized pid header. Reported by Github CodeQL. See Security -> Code Scanning Alerts

[2021-04-14 17:44] eandre commented on #5
Thanks for your report. This seems like a false positive to me. The client in this case is not a browser, and this is only running as a local webserver. But happy to change it so that it's not detected as a false positive of course.

[2021-04-14 23:22] randallmlough opened #6 "[DOCS/CLI] Generating client fails due to wrong information"
Tried to generate a client based off your Trello Clone example (unedited, kept as is) and it kept erroring out. I read the docs and even the cli help command. Docs and CLI say to use "ts" but when actually looking at the source code, "typescript" is the correct value instead of "ts"

[2021-04-15 09:15] #6 closed

[2021-04-15 09:17] eandre commented on #6
Thanks @randallmlough, you're absolutely right! I've just pushed a fix to the `encore gen client --help` docs, and also updated the encore.dev/docs site to match.

[2021-04-15 09:17] eandre commented on #5
Closing because this is a false positive. Please reopen if you believe otherwise. Thanks!

[2021-04-15 09:17] #5 closed

[2021-04-15 14:28] azr opened #9 "Support for gRPC"
Hello there, awesome framework ! I had the idea to do something like this in the back of my head for moments but never actually committed to doing it.

Have you ever thought of bringing gRPC generation for user apis too ? The code generation would work similarly to what the JSON thingy is going. But then it'd generate a `.proto` file from go + some strapping code generation around that and bang !

[2021-04-15 16:36] darkLord19 opened #10 "provide endpoints in the form of service/endpoint instead of service.endpoint"

[2021-04-16 08:41] eandre commented on #10
Hi @darkLord19, thanks for posting. Is there a particular use case you have in mind? Or is it for aesthetic reasons?

[2021-04-17 10:23] eandre commented on #9
Thanks @azr for the kind words! Yes, we definitely want to add support for additional transport protocols, with gRPC being the primary choice :)

[2021-04-17 12:16] goodforever opened #13 "How to build from source code?"
How to build from source code?

[2021-04-17 12:44] eandre commented on #13
Hey @goodforever! You can build `encore` from source using `go build ./cli/cmd/encore`.

To actually run it you'll need to point it at the location for the `encore.dev` runtime implementation as well as the Encore GOROOT. You can see the instructions for that here: [https://github.com/encoredev/encore/blob/main/DEVELOPING.md](DEVELOPING.md)

The Encore GOROOT is built from [https://github.com/enco

[2021-04-17 13:07] eandre opened #14 "compiler/runtime: add logs to traces"
We support structured logging through the `encore.dev/rlog` package, but the logs are not emitted in the traces.

[2021-04-17 13:49] #14 closed

[2021-04-17 20:38] GavinRay97 opened #16 "`//encore:api auth` and `AuthHandler()` when you have multiple AuthN types/systems"
Heya, saw your announcement on HN and the out-of-the-box functionality in encore looks great!

Reading through the docs, one question I had was how to address a scenario like this:
- You run a business which has multiple AuthN systems. (Let's pretend we own a chain of fitness centers or sell software for them)
- Fitness center employees login via a typical email/password authentication system
- Fi

[2021-04-18 08:54] eandre commented on #16
Hey Gavin, thanks for the detailed use case!

In my experience it's pretty common to have different types of users or tokens, and encode that information into the token itself. See [https://github.blog/2021-04-05-behind-githubs-new-authentication-token-formats/](GitHub's new authentication token formats) for a recent example.

In that case you would have a single entrypoint which can handle all ty

[2021-04-18 18:46] GavinRay97 commented on #16
Ah okay, I think I get it.

So best-practice here would be to have a single auth endpoint and handle everything through that.

Thank you!

[2021-04-18 18:46] #16 closed

[2021-04-20 15:48] sopta opened #17 "Error response"
Hello,

thanks for this project, it looks very promising. Will be there a possibility to return an error as a JSON? I've tried to write a simple API, but in the case of error, only a text message "Internal server error" is returned. I'd like to specify a structure that holds more information.

[2021-04-20 16:32] eandre commented on #17
Hey @sopta, you're absolutely right and I've actually been working on this for the past few days!

I'll publish an RFC most likely tomorrow and an initial implementation to follow not long after that.

[2021-04-20 17:43] sopta commented on #17
Awesome! :)

[2021-04-20 17:43] #17 closed

[2021-04-20 19:34] sopta opened #18 "Database stuff"
I understand that the topic of databases had to be heavily discussed to implement the current version of it. Anyway, I'd like to open a discussion (ask questions):

1. It seems there is no way to revert a SQL migration right now. Only the `.up.sql`  is present.

2. For a while, I've been trying different platforms for fetching data like Hasura, Prisma, or entgo. There are different approaches to s

[2021-04-21 09:18] eandre opened #19 "proposal: structured error responses"
As discussed in #17 and elsewhere, Encore needs to provide the ability to control the error codes reported by the API as well as provide more structured data to callers.

In summary, Encore would respond to external API call errors with an error in the form:
[code]

In terms of API I propose the following design:

[code]

[2021-04-21 11:55] marcusti commented on #19
Not sure if I understand correctly. From a user's perspective in the silly example below, would a request validation error in the endoint be translated into an HTTP 400 when called by an HTTP client?

[code]

[2021-04-21 12:00] eandre commented on #19
Yes, exactly:

[code]

[2021-04-21 12:22] marcusti commented on #19
What would be a usecase for `func HTTPError(w http.ResponseWriter, err error) { /* ... */ }`, since there is no `http.ResponseWriter` exposed in the endpoint?

[2021-04-21 12:23] eandre commented on #19
That's for use with raw endpoints (where you do get access to the underlying HTTP request).

[2021-04-21 14:16] sopta commented on #10
What about dealing with REST API? It's more common to have a pattern like`GET /api/{resourceName}/{deepPath}`. I mean... this still works, but feel strange at first. I'm not sure if this framework should be used for public API if I wanna follow the REST API's principles.

[2021-04-21 14:20] eandre commented on #10
Yeah, that's a good point, I agree we should offer better support for creating REST APIs.

[2021-04-21 15:42] eandre commented on #18
Thanks @sopta, I agree with everything you said! We absolutely want to offer something much better, both on the database migrations side as well as on the database querying side. I've been working on this quite a bit already, but have had to focus my efforts elsewhere for the last couple of weeks to improve other aspects. I'll try to write down my thoughts on this in the coming days :)

[2021-04-22 16:50] sopta commented on #13
Hey @eandre. I just checked both links but none of them work.

[2021-04-22 17:15] sopta commented on #18
Hey, sounds good :)

[2021-04-22 17:42] sopta commented on #10
That would be awesome. I primarily work with REST API and GraphQL and this type of URL endpoints it's not what you seek. Also, it depends on the purpose of this project, I guess. Either it could be used only for microservice services (not an endpoint for mobile API gateway) or support both ways.

I can see a similarity with controller/action (presenter/action) approach from web frameworks. It's a

[2021-04-24 22:26] lfpse20 commented on #19
is there any support for returning a list of errors from an API request?

say for example we are creating an User and multiple fields are invalid. instead of returning 1 error when we find an invalid field, we would return a list of all errors.

[2021-04-26 07:24] eandre commented on #19
@lfpse20 I would use the `Details` field for that. Perhaps something like this:

[code]

[2021-04-27 16:18] eandre opened #22 "cli/daemon/dash: bad content type detection of javascript files"
We've seen a case where Go's standard library gets the content type detection of the bundled javascript files wrong.

The end result is that the browser refuses to load the files as javascript:

![image](https://user-images.githubusercontent.com/425456/116276485-dff79b00-a784-11eb-8241-dfeae214423b.png)

We can work around this by manually setting the content type for `.js` files.

[2021-04-27 16:21] #22 closed

[2021-05-08 23:28] Minivera opened #28 "Foreign keys between services is not possible"
I have two services, one called `identity` where I store my user information, and one called `content` where I store user generated content. In both services, I have a few migrations that create the tables and indexes in my database, for example:

In the identity service:
[code]

And then in the content service:

[code]

In the `documents` table, I'd want to add a constraint to set my foreign key

[2021-05-09 10:16] eandre commented on #28
The reason this isn't possible comes directly from the fact that distinct services have their own databases. This is the case because, generally speaking, if you break something apart into different services it's to signify that they should be isolated from each other. Often this is for organizational reasons when you have multiple dev teams, but even at smaller scales some sort of isolation tends

[2021-05-09 14:26] Minivera commented on #28
That's what I did originally yeah, I changed it as I found that it made the documentation a lot harder to parse. I have a dozen endpoints or so and having them into microservices like this made it so endpoints are neatly divided into "categories" on the documentation side. It's a lot nicer that way. Though now that I talk about it in the context of this issue, that might be a symptom of a differen

[2021-05-13 15:00] pellared opened #29 "Debugging instructions"
Is there any option to debug using [`delve`](https://github.com/go-delve/delve)?

Could you describe it, please?

[2021-05-13 15:07] eandre commented on #29
You can use `encore run --debug --watch=false` to start the application for debugging. It disables inlining and improves debugging information, and prints the process id that you can use with `dlv attach <pid>`.

[2021-05-13 15:29] pellared commented on #29
Maybe worth adding to docs? 😉

[2021-05-13 15:47] eandre commented on #29
Great point, will write up a section on it :)

[2021-05-13 15:47] #29 closed

[2021-05-15 08:21] MatthewJamesBoyle opened #30 "Improved feedback for db migrations."
When you run `encore run` if you have new db migrations, the daemon sort of hangs for a couple of seconds (whilst the migrations run) but you get no feedback of this.  I think  log lines such as
` running migration 3_adding_new_thing.up.sql` would go a long way.

Secondly, if your migration does fail you get surfaced the error directly from go-migrate. I think adding a trouble shooting doc to the

[2021-05-15 09:06] eandre commented on #30
Thanks @MatthewJamesBoyl, I agree completely and those would be great additions.

On the topic of outputting information about what's happening behind the scenes, there's also the issue of the very first run being quite slow (possibly due to compiling the standard library?). Looking into if we could give the user feedback about this would also be useful.

If you're willing to help that would be ve

[2021-05-15 23:14] MatthewJamesBoyle opened #31 "Wrapping the context too many times causes panics"
Consider the following code:

[code]

If you hit this endpoint, encore will crash:

[code]

Here is the same code "working" in a standard go context: https://play.golang.org/p/n0izzHq-Igt

I fixed this for now in my code by using the regular error group without context (context.Background() worked too) but of course I lose the ability to cancel and tracing then.

[2021-05-16 10:02] #31 closed

[2021-05-16 10:03] eandre commented on #31
Thanks for the report and for the reproducer! I've fixed the issue and will tag `v0.14.2` shortly to fix it.

[2021-05-16 11:38] MatthewJamesBoyle commented on #31
Thanks for the incredibly fast fix!

[2021-05-16 18:40] eandre commented on #31
You're welcome :) it took a bit longer than expected due to the GitHub Actions outage, but you can install it now using `encore version update`.

[2021-05-21 01:19] oseifrimpong opened #32 "404 when buttons on pricing is clicked."
![These buttons](https://user-images.githubusercontent.com/3536601/119067800-6f573d80-ba15-11eb-87aa-c9cdb4b77c26.png)

[2021-05-21 07:54] marcuskohlberg commented on #32
Thank you for reporting this!
We'll get right on it.

[2021-05-21 07:57] marcuskohlberg commented on #32
Thank you for reporting this!
It's now fixed.

[2021-05-21 07:57] #32 closed

[2021-05-23 18:16] abtris opened #35 "Add possibility add identity as parameter"
Hi,
 I'm getting this error that is caused that I use `useconfigonly = true` settings in git. Can you create app without commit or have option to pass user credentials as parameters?

[code]

[2021-05-23 18:21] eandre commented on #35
Hey, thanks for reporting! We should definitely support this use case. To help you quickly work around it, could you see if it works by setting `GIT_AUTHOR_NAME` and `GIT_AUTHOR_EMAIL` and then running `encore app create`?

[code]

If that doesn't work there are a few other workarounds but this is probably the easiest.

[2021-05-24 05:25] abtris commented on #35
I forgot on this and this will solve it:

[code]

[2021-05-24 06:45] abtris commented on #10
I think define how path will show should be configuration option to override URL `package.name` format. Similar as @sopta mention. I just will be careful about implicit conversions (go isn't java ;-))

Add more flexibility will be great.

API Spec languages support [URI Template variable](http://tools.ietf.org/html/rfc6570) and will be great if we can use it.

[2021-05-25 08:54] waghanza opened #36 "Participating to a benchmark"
Hi,

I lead a project about benchmarking
https://github.com/the-benchmarker/web-frameworks

We have several `go` **frameworks** already in this list.

Do you wish to participate ?

Regards,

PS : In short, this project's purpose is to be a list of existing frameworks + some results about usage (perf, ....)

[2021-05-27 13:26] MatthewJamesBoyle opened #37 "Pulling http headers out of the context?"
Is there a "encore" way to pull arbitrary http headers out of the context?

[2021-06-01 12:55] iJebus commented on #1
@eandre The [IAM Access Analyzer](https://aws.amazon.com/blogs/security/iam-access-analyzer-makes-it-easier-to-implement-least-privilege-permissions-by-generating-iam-policies-based-on-access-activity/) may help with this.

[2021-06-03 17:04] alfredleo opened #38 "Windows button does not work on encore.dev"
![image](https://user-images.githubusercontent.com/4072844/120683503-21334700-c4b7-11eb-96a1-29e76a1575ad.png)
I am not sure if this is the right place to report a bug on the encore.dev website. There is a problem with the windows installation button. It works only if we click on the Linux button first. Tested with the latest chrome and firefox browsers.

[2021-06-03 17:12] alfredleo commented on #38
Update. I think it looks at what OS I am using and sets commands accordingly. Underline should be set then to the right OS. This confused me a bit. Buttons work just fine, only a problem with the correct underline.

[2021-06-09 06:27] marcuskohlberg commented on #38
Thank you for identifying this sneaky bug @alfredleo!
We'll get right on sorting it.

[2021-06-10 08:53] phippsy22 opened #40 "Encore failing to deploy infrastrustrure"
Hello,

**Issue**: I've created a basic application and I'm running into the below error message when deploying to prod:

[code]

Additionally I created a dev branch and attempted to deploy the same code as an attempt to replicate and ran into the same issue.

**Full prod deploy log**: https://gist.github.com/phippsy22/709da31bf3d53c54a4d229ed337ddade
**Full dev deploy log**: https://gist.github.c

[2021-06-10 09:16] eandre commented on #40
Hey @phippsy22, thanks for the report! There was nothing you did on your end; it was a regression on our end. I've fixed the issue and retriggered your deploy so your app is up and running now.

[2021-06-10 09:18] #40 closed

[2021-06-13 14:35] eandre commented on #37
Hey @MatthewJamesBoyle, I missed when you posted this issue so apologies for the delayed response.

There's currently no way of accessing arbitrary HTTP headers when using structured Encore APIs. This is currently by design, as when you rely on HTTP headers Encore loses the ability to reason about what data is needed to call an API. That said, it would be great to understand your use case and we c

[2021-06-22 07:38] #38 closed

[2021-06-22 07:41] eandre commented on #19
This has been implemented and is documented here: https://encore.dev/docs/concepts/errors 🎉

[2021-06-22 07:41] #19 closed

[2021-06-22 07:43] eandre commented on #28
Agreed completely, and we definitely want to make it possible to express relationships between databases, even though it's impossible to define foreign key constraints across databases. Will close this issue for now as the original question has been addressed, but re-open if you feel otherwise :) thanks!

[2021-06-22 07:43] #28 closed

[2021-06-22 07:44] marcuskohlberg commented on #13
@sopta Thanks for flagging. There seems to be a sneaky bug in Github where is modifies the link url and adds "/issues/". If you copy the plain text url from Andrés comment and paste, it will work.

[2021-06-22 07:46] marcuskohlberg commented on #38
This is now fixed. Thanks again @alfredleo!

[2021-06-22 07:56] #13 closed

[2021-06-22 07:58] eandre commented on #37
Closing this as it's by design (use `raw` endpoints if you need an escape hatch). That said, would love to hear more about your use case if possible!

[2021-06-22 07:58] #37 closed

[2021-07-09 11:02] eandre commented on #10
Thanks so much @darkLord19, @sopta, @abtris for the thoughtful feedback provided here.
We've just added support for this with Encore `v0.16.2`: https://github.com/encoredev/encore/releases/tag/v0.16.2

Please give it a whirl and let us know what you think!

[2021-07-09 11:02] #10 closed

[2021-07-12 15:10] zinderic commented on #2
I wanted to give the framework a test today and I was pretty surprised when my app was deployed to public cloud with no way of removing it from there. It's my fault for not paying enough attention to the docs before I went and run it but now I feel pretty uneasy about using this. It feels unsafe to me.

I come from a background of working with enterprises for many years where privacy and how data

[2021-07-14 16:11] eandre commented on #2
Hey @zinderic, thanks so much for the feedback. We're adding the ability to remove environments shortly.

Can you share more about your unease? What you're seeing is that Encore sets up a production environment out of the box to make it easy to get started, but Encore only makes public the API endpoints that you define as public. Under no circumstances are your databases made publicly available, a

[2021-07-15 07:52] zinderic commented on #2
When I think about a framework I usually expect to be able to build an enterprise app and keep its code, database and deployment private and controlled.

I might be wrong about that but Encore from my current perspective is closer to a PaaS such as Heroku. It provides great development abstractions to ease a lot of the process of writing apps that can be consumed within a PaaS setup but it's still

[2021-07-15 08:57] eandre commented on #2
You're right that Encore is a bit different from traditional frameworks. A good way to think about Encore is as a Platform for Software Development – it integrates a larger part of the experience, which is what makes it possible to create a radically improved development experience in the first place. Since you can deploy to your own cloud Encore gives you more flexibility and control over your da

[2021-07-15 09:44] zinderic commented on #2
Yeah, I agree. I think when I saw "backend framework" is when I started placing Encore as something else than a platform-centric experience. It sits between those two abstractions but  the word "framework" carries a lot of baggage that set me in that frame of mind where I didn't expect to get a Platform. But actually the Platform is where the "superpowers" are actually coming from to a great exten

[2021-07-15 10:43] eandre commented on #2
Yes, exactly. The pain points with developer productivity don't fit into either "framework" or "infrastructure". Encore bridges the gap between the two, which is exactly why we can provide a much better developer experience and much better productivity :)

I'll note this conversation is quite off-topic from this issue, so in the interest of keeping it on-topic let's move this conversation elsewher

[2021-07-15 13:51] eandre commented on #2
Thanks @philbenoit and @zinderic, we've just released support for updating and deleting environments. It's available from the web UI:

![image](https://user-images.githubusercontent.com/425456/125799320-c41aefff-10b8-4188-a195-cac459c7137d.png)

[2021-07-15 13:51] #2 closed

[2021-07-30 11:16] vilhelmmelkstam opened #46 "Api Client: Golang omit-always tags are included in the API Client"
Say I have a struct in encore that is used in some endpoint and looks like
[code]
This will in the generated TypeScript client be generated to the following invalid TypeScript code
[code]
 My expectation is that the Token field should be omitted in the generated code.

[2021-07-30 11:38] #46 closed

[2021-08-03 09:48] eandre opened #49 "Encore daemon doesn't detect restarted database container"
The Encore daemon caches information about the running database container. This works fine most of the time but causes problems when the Docker container (or Docker itself) is restarted outside of Encore's control, leading to Encore trying to connect to the wrong (ephemeral) container port.

It leads to errors like:
[code]

A workaround is to restart the encore daemon (by running `encore daemon`)

[2021-08-05 13:01] vilhelmmelkstam opened #50 "Handling bodies for raw endpoints in the dashboard and TypeScript client"
This issue covers the response and request bodies of raw endpoint in the dashboard and in the TypeScript client.

### Dashboard
Currently, the even though Raw Endpoints may have request and response bodies, there are no way of editing the request body or viewing the response body. I understand that encore can't know if there will be a body and the format of it, but we should at least be able to ed

[2021-08-06 07:17] eandre commented on #50
Thanks for writing this up. I agree completely. I wonder if it would make sense to add a parameter that is effectively the `fetch` options object (https://developer.mozilla.org/en-US/docs/Web/API/Request/Request -> `init`), and return the `Response`? That would allow callers to customize any behavior that the underlying `fetch` API supports.

However at some point we should also start thinking abo

[2021-08-09 07:57] vilhelmmelkstam commented on #50
That sounds reasonable. This would also allow developers to set other options (such as `credentials: include`, something that we currently add manually).

As for server-side fetching, I don't think it's a major problem as adding a polyfill such as [unfetch](https://github.com/developit/unfetch) is an easy fix. It's not the most elegant solution, but at least quick.

[2021-08-11 08:50] MaxDanielsson opened #53 "Dashboard not providing most recent request result."
If a request to an API is successful and the next fails, the Encore gui sometimes still show the most recent success instead of error.
![Screenshot from 2021-08-11 10-45-56](https://user-images.githubusercontent.com/33028551/128999304-e7d5e196-256d-4014-abf8-5b26e24f47d2.png)

[2021-08-13 08:02] vilhelmmelkstam opened #55 "`ExecTx` and `Exec` return type mismatch"
The following two functions gives no linting errors, but it cannot compile using encore.
[code]

The following errors are instead returned when I try to run or check the program:
[code]

The error seems to be the difference between https://github.com/encoredev/encore/blob/786cf64412e55c8ac5a829198efa61132a800a97/compiler/runtime/storage/sqldb/sqldb.go#L199 and https://github.com/encoredev/encore.d

[2021-08-13 08:59] eandre commented on #55
Thanks for the report, you're right. We used to use `sql.Result` but the issue is that PostgreSQL doesn't actually report the last inserted id from `INSERT` statements, see [INSERT docs](https://www.postgresql.org/docs/current/sql-insert.html#id-1.9.3.152.7). As a result we moved away from returning `sql.Result` and opted to only provide the `RowsAffected` method.

The way to do what you want is b

[2021-08-13 19:42] kravlost opened #56 "`encore run` output control codes shown in Windows"
After I start `encore run`, the formatting control codes are shown in Windows:

`←[90m8:35PM←[0m ←[32mINF←[0m registered endpoint ←[36mendpoint=←[0mWorld ←[36mpath=←[0m/hello.World ←[36mservice=←[0mhello`

[2021-08-13 21:20] eandre commented on #56
Thanks for the report, that's interesting. Which terminal did you use? I'm guessing that Windows Terminal should support this? (Needs a fix regardless but just as a temporary workaround)

[2021-08-14 06:34] frzam opened #57 "Error building cli/encore from source in windows 10."
1. When I am building encore cli in windows, getting compilation error `..\..\daemon\dash\server.go:25:12: pattern dashapp/dist/*: no matching files found`

<img width="708" alt="encore-error" src="https://user-images.githubusercontent.com/22986964/129436515-2882e6aa-3c6c-44f4-bebd-e56d662b7149.PNG">

So to compile this, I have removed this line https://github.com/encoredev/encore/blob/67aefe20466

[2021-08-14 06:47] frzam commented on #56
@kravlost Can you please let us know which terminal you are using and windows version?

I have tried to replicate the scenario, so on *windows command prompt* and *powershell* it is working properly, but on git bash it is printing color code junk.
**cmd prompt output:**
<img width="649" alt="cmd-prompt" src="https://user-images.githubusercontent.com/22986964/129437690-d7eabfbc-80f6-4125-a4e9-55814

[2021-08-14 07:36] eandre commented on #57
Thanks very much @frzam! For your first issue I documented this very recently in [CONTRIBUTING.md)(https://github.com/encoredev/encore/blob/main/CONTRIBUTING.md#developing-the-development-dashboard). We should make this clearer in the instructions. (Perhaps we should commit some placeholder file so the build doesn't fail?)

As for your second issue, that's a new one. I think upgrading WireGuard is

[2021-08-14 07:37] frzam commented on #57
Yup sure.

[2021-08-14 07:43] kravlost commented on #56
@frzam @eandre Thanks for the replies. Here's my info:

Windows version:

Edition	Windows 10 Home
Version	21H1
OS build	19043.1165
Experience	Windows Feature Experience Pack 120.2212.3530.0
(UK English experience pack)

Powershell version:
Powershell 64-bit 7.1.4.

I also get the same result in cmd.exe.

[2021-08-14 09:25] kravlost commented on #56
@frzam @eandre An update! According to [this](https://stackoverflow.com/questions/51680709/colored-text-output-in-powershell-console-using-ansi-vt100-codes) answer, PS doesn't support ANSI escape sequences out of the box. If I pipe Encore's output through Out-Host as suggested in answer 3, it works fine:

![image](https://user-images.githubusercontent.com/4245329/129441373-0bc66b5d-8a9e-4e5f-91d5-

[2021-08-14 09:33] eandre commented on #56
Thanks @frzam and @kravlost for investigating! Based on the StackOverflow answer it seems like @frzam's solution with changing the console mode should work. I think we should do it for both `stdout` and `stderr`. Either of you want to send a PR? :)

[2021-08-14 10:55] frzam commented on #56
Yup I will pull request.

[2021-08-14 16:27] frzam commented on #57
@eandre I think I missed something, on windows it is still not compiling 😔, this `golang.zx2c4.com/wireguard` also needs to updated from `v0.0.20201118` to `v0.0.0-20210728232740-bad6caeb82ed` then it complies on windows, but then on linux(and most probably mac), it is not compiling because of `conn.Bind` param in https://pkg.go.dev/golang.zx2c4.com/wireguard/device#NewDevice
I am not familiar wit

[2021-08-15 08:01] eandre commented on #57
Thanks @frzam. As we discussed on [Slack](https://encore.dev/slack) I believe the best path forward is to update `golang.zx2c4.com/wireguard` and use `conn.NewDefaultBind()`. Reopened this issue until we've sorted it out completely!

[2021-08-15 09:00] #57 closed

[2021-08-15 12:21] #56 closed

[2021-08-18 12:37] melkstam opened #61 "Dashboard API Docs sidebar not scrolling as expected"
The sidebar for the API Docs in the dashapp has `position: sticky`. This works well for when the sidebar content fits onto the screen, but when it doesn't it doesn't scroll independently from the main content (like it does for the Encore docs or the API Docs on app.encore.dev). So for when the main content is large (> 50000 px for us at the moment), you have to scroll all the way down to be able t

[2021-08-20 14:36] eandre commented on #61
Thanks @vilhelmmelkstam, that's a great point. We need to make them scroll independently of each other.

[2021-08-20 14:37] eandre commented on #53
Thanks @MaxDanielsson! Just to clarify, you mean the left-hand side showing the response does not update in that case?

[2021-08-20 14:39] eandre opened #65 "cli: json tags are added to generated documentation"
When a request/response struct has a json tag like `json:"foo,omitempty"`, the `omitempty` part is added to the rendered schema in the API documentation. See attached screenshot.

<img width="1127" alt="screenshot_29" src="https://user-images.githubusercontent.com/425456/130250353-ba9a5904-cb06-4823-a4f8-d0bd6bf3a0ef.png">

Thanks Joe Ward for reporting!

[2021-08-20 14:44] MaxDanielsson commented on #53
Yes!
It instead shows the most recent success.

[2021-08-20 15:00] #65 closed

[2021-08-21 09:23] eandre opened #67 "Proposal: improved database support"
# Proposal: Improved database support
## Summary
We propose several improvements to Encore’s SQL Database functionality, in order to improve flexibility by (1) supporting the use of ORMs and other libraries that rely on wrapping a `*database/sql.DB`, and (2) enabling multiple services to refer to the same database.

## Motivation
Encore improves on several aspects relating to using SQL databases,

[2021-08-21 09:29] eandre commented on #35
Thanks @abtris. I think the best way to solve this is by checking `git config --list` and scanning for `user.email` and `user.name` before creating a commit.

The question is what to do if this hasn't been configured? We could either prompt the user to specify it before proceeding, or we could set some reasonable defaults (`Encore Bot <git-bot@encore.dev>` or something). What do you think?

[2021-08-21 09:30] eandre commented on #30
In the next release of Encore we have drastically improved the amount and quality of feedback when running `encore run`, including tracking the progress of running database migrations. I'm coming to close this as that was the main concern here, but will open a separate ticket to track the documentation work around handling dirty database migrations. Thank you!

[2021-08-21 09:30] #30 closed

[2021-08-21 09:33] eandre opened #68 "Document how to handle dirty database migrations"
When a database migration doesn't apply cleanly, `golang-migrate` (the library we use under the hood to manage database migrations) marks the migration state as "dirty" and refuses to continue. This can be fixed by editing the database table (fixing the schema problem and then running `UPDATE schema_migrations SET dirty = false`), but that's not documented anywhere. We should add this to [SQL Data

[2021-08-21 09:35] eandre commented on #18
Hey @sopta, apologies for the delay here. I just posted #67 which proposes a solution to your third point, and lays the foundation for solving the first two points. Would love your input there :)

[2021-08-21 09:37] eandre commented on #1
Thanks @iJebus, will look into that and provide better documentation around this.

[2021-08-21 13:02] mvp-joe commented on #67
I like this idea a lot.  It would be super helpful to be able to use third-party go SQL ORMs & mappers - honestly one of the biggest pain points with encore right now.

Thanks for the proposal @eandre!

[2021-08-24 19:08] eandre opened #73 "cli/internal/codegen: TypeScript client has wrong type for json.RawMessage"
Encore handles the `json.RawMessage` type specially and treats it as "arbitrary JSON" in generated clients.

However, the generated TypeScript client translates this to `object`. This is usually fine, but doesn't support arbitrary JSON values at the top level (like `true` or `5`). We should change the generated code to using `any` for these types (or a more specific JSON type; see microsoft/TypeSc

[2021-08-24 19:10] eandre opened #74 "cli/daemon/dash/dashapp: API Explorer sometimes infers the wrong HTTP method"
The API Explorer doesn't correctly update which HTTP method to use when changing RPC in the dropdown; it sticks with the previous endpoint's HTTP method. This causes the API Explorer to make a request to the wrong method (usually to an endpoint that doesn't exist). This also affects the "copy as curl" functionality for the same reason.

[2021-08-24 19:11] #73 closed

[2021-08-24 19:11] #74 closed

[2021-08-26 14:25] Minivera opened #75 "Returning custom error messages on auth handlers"
Hi,

I have a auth handler that looks something like this:

[code]

I would like to be able to return custom unauthenticated messages for each of the three returns I have so a user knows why their auth failed. If I omit the error and return an empty string, the error message is something like "auth token missing", which is not very actionable for my users. If I do return the error, the 401 error t

[2021-08-29 06:31] wisdommatt commented on #75
@eandre I will like to work on adding this to the documentation

[2021-08-29 09:15] eandre commented on #75
Thank you @wisdommat, please do! Let me know if you want some help or guidance. Really appreciate the help!

[2021-08-29 14:31] Minivera commented on #75
Apologies for closing the issue randomly, miss-click.

[2021-08-30 10:32] wisdommatt commented on #75
@eandre i just made a pull request to add this to the docs

[2021-08-30 13:23] wisdommatt commented on #68
@eandre assign this issue to me, i would like to work on adding this to encore SQL database documentation.

[2021-08-30 16:20] eandre commented on #68
Sounds great, thank you!

[2021-08-31 15:39] eandre opened #80 "Proposal: REST API query parameter support"
## Summary
We propose to add support in Encore APIs for parsing parameters passed in query strings (for example `GET /order?limit=10`). This would happen automatically for APIs with parameters for HTTP methods that don’t accept request bodies, such as `GET`, `HEAD`, and `DELETE`.

[code]

## Motivation
While the initial support for defining custom paths and methods made Encore much better for buil

[2021-09-02 11:22] #67 closed

[2021-09-06 16:44] eandre opened #83 "Proposal: Support setting auth information"
## Summary
We propose a simple method for manually providing auth information to API calls made within Encore. This is first and foremost to facilitate better testing.

## Motivation
Encore automatically propagates request and authentication information between requests. However, there is no built-in way of specifying the auth data by hand when making an API call. This can cause problems when writ

[2021-09-12 07:50] #80 closed

[2021-09-12 07:50] #53 closed

[2021-09-12 08:05] #83 closed

[2021-09-12 17:53] eandre commented on #55
This is fixed now in [encoredev/encore.dev](https://github.com/encoredev/encore.dev), will tag a new release tomorrow!

[2021-09-12 17:53] #55 closed

[2021-09-17 10:19] eandre opened #95 "Proposal: Cron support"
## Summary
We propose a simple mechanism for scheduling recurring tasks ("cron jobs").

## Motivation
Encore today provides great support for building APIs that execute some business logic in response to some external trigger (a user taking an action in a frontend, a webhook being called, and so on). But there's no built-in way to internally trigger something to happen. While there are many such u

[2021-09-17 10:43] pbrazdil commented on #95
I agree with taking Kubernetes CronJob design approach, it looks straightforward and what I would expect without any supripses. I like the config approach as well.

I am not a fan of endpoints without params only limitation. Sometimes it would be very helpful to be able to have params available for use. If it's unreasonably time expensive to implement I will be able to live without it, no problem

[2021-09-17 11:51] eandre commented on #95
Thanks @pbrazdil for the feedback! What use cases do you imagine for passing parameters? Could you define a parameter-less endpoint for use with cron that calls another endpoint with parameters?

[2021-09-20 08:32] vilhelmmelkstam commented on #95
What do you think about the posibility to run cron jobs for individual environments? We have a use case where we have an environment for demo purposes (a production environment) which we regularly want to add new data to.

Is there otherwise any way to dynamically in the endpoint retreive what environment we are running in, e.g. via some environment variable? In that case we could guard when to ru

[2021-09-20 08:44] eandre commented on #95
Adding that support would make the configuration much more complex. I think your idea of supporting querying the environment at runtime is a reasonable one and something we need for other use cases as well!

[2021-09-20 08:57] eandre opened #96 "API Explorer does not support unicode in payload"
Encore's API Explorer encodes API payloads into base64 to serialize arbitrary bytes into JSON (and be compatible with Go's handling of `[]byte` in JSON). Unfortunately this causes a problem due to how JavaScript's `atob`/`btoa` functions work with unicode (see [The Unicode Problem](https://developer.mozilla.org/en-US/docs/Glossary/Base64#the_unicode_problem) on MDN), and results in an exception:

[2021-09-20 09:01] #96 closed

[2021-09-20 15:01] Willyham commented on #95
Seems like a good pragmatic approach for the short/mid term to me. Long term, I think it would be nice to consider the possibility of a "task/job queue" approach to this, which might let us specify some of the retry semantics, and open up the possibility of a more powerful API for programatic tasks (e.g. I want to spawn some job every hour after somebody signs up in my app for the first 8 hours).

[2021-09-20 22:10] kblake opened #98 "Running tests shouldn't require Docker with no database"
I newly installed encore and created a new default hello world application.
I went to run the tests via `encore test ./...` and the output says `pull docker image: exit status 1`.

I'm on MacOS running Go 1.15.6.

Any reasons why I'm getting this vs a pass or fail message?

[2021-09-20 22:23] kblake commented on #98
Nevermind. I had to have Docker running in order for the tests to run. So I'm good now.

[2021-09-21 07:53] eandre commented on #98
Thanks so much @kblake for the feedback! You actually shouldn't need Docker for tests (unless your application uses a database, which is deployed in Docker for local development), so that's a bug since you used the Hello World example. Reopening and will fix, thank you!

[2021-09-29 10:26] TobbeEdgeware opened #99 "Minor issues with Hello World tutorial example"
When I did git push encore on the hello world example I got the output remote:

`Env Dashboard: https://app.encore.dev/test2-ave2/env/prod`

 but that link gives a “500 Internal Server Error response”. The code is pushed and works though.

 A minute thing is that the tutorial documentation says that the development server is starting on port 4000, but it is 4060 (or 4061 if 4060 is occupied).

[2021-09-29 11:44] eandre commented on #99
Thanks @TobbeEdgeware for the report! I suspect the issue is actually that you're not logged in, and we've had some issues with the login detection that have been tricky to detect. Can you head over to https://app.encore.dev and check if you're prompted to log in? Will have another look at fixing the login detection.

As for the port, this is actually something we just changed (see #94) to make th

[2021-09-29 19:27] eandre commented on #99
I've tested this and believe the login detection should be fixed. Thanks for the report! Please reopen if this turns out not to be the case :)

[2021-09-29 19:27] #99 closed

[2021-09-29 19:29] #75 closed

[2021-10-03 07:40] windwp commented on #67
@eandre
hi is there any example of how to you encore with gorm.
sorry, i am new to golang I am comming from nodejs .just learn go a bit.
I need a way to get connect string from encore then I can use gorm.
Thank

[2021-10-13 21:04] eandre opened #101 "docs/develop/databases: document how to share databases"
Since the release of v0.17 we can now reference databases by name with `sqldb.Named("name")`, enabling multiple services to reference a single database. This should be documented.

[2021-10-14 06:58] ArunNKutty opened #102 "Issue on Documentation for GCP."
Currently, in the documentation for https://encore.dev/docs/deploy/own-cloud, it shows the following :
`Deploying to GCP is actively in development and is available for preview. Let us know if you wish to use it during the preview and we'll enable it for your application.`

This needs to be changed as GCP is live

[2021-10-20 08:46] kwihl opened #103 "Handle autocomplete "/" character when connecting to db"
Very minor annoyance; when using autocomplete to connect to a database (i.e. >>encore db shell service), a bash terminal will autocomplete to the directory ('service/'). This yields "database not found" which is confusing. Perhaps this is intended behavior, but it would be infinitely more convenient should the 'db shell' command just handle and ignore the extra slash character.

[2021-10-27 13:24] tamj0rd2 opened #106 "Deployment for the hello world project failing at the Build stage"
When I try to deploy the template app, I get the error: `remote: __encore_main/main.go:97:3: unknown field 'MsgHandlers' in struct literal of type config.Service`

Here's what I did:

1. `encore app create`
2. Choose "Hello world (Encore Introduction)"
3. `cd build-fail-repro && encore run`
4. `encore test ./...`
5. `git push encore`
6. It pushes, but nothing happens. I notice it had defaulted to

[2021-10-28 07:34] #106 closed, assigned to nobody

[2021-10-30 17:28] vilhelmmelkstam opened #107 "Quiting db proxy don't close assigned port"
When opening a proxy to the DB using `encore db proxy`, the encore daemon opens a port. However, when closing this using `ctrl-c`, the port don't close. The only way I've found for closing the port is to restart the daemon using `encore daemon`. This is true for both when specifying a port using the `-p`-flag and when encore assigns a random port for me.

This is on macOS 11.6, I have not tested t

[2021-10-31 10:23] eandre commented on #107
Thanks for the report. Note that the log message you highlighted is not the same thing: that's a port for internal communication between the running app and the database (proxied via the daemon). It's not the same port you're talking about, I believe.

So based on that, could you share reproduction instructions or how you discovered the issue? Thanks.

[2021-10-31 13:20] vilhelmmelkstam commented on #107
Ah, true! I've investigated some more and it may just be me having a wrong expectation about how the proxy command should work. If that's the case, please feel free to close the issue.

So before the example below, I cannot open a connection to the DB over port `1234`. When the command is running, I can connect to it, as expected. My expectation is that after I've pressed `ctrl-c`, I would not be

[2021-11-30 13:22] #101 closed

[2021-12-05 20:23] ValeriaVG opened #112 "Cannot have paths /user/me and /user/:id/posts at the same time"
Currently, it's not possible to create the following endpoints at the same time:
[code]

Paths with parameters as the first part are also conflicting with any other non-parametrical paths:
[code]

It'd be very nice to support these kinds of paths without conflicts, would it be possible?

[2021-12-06 08:17] eandre commented on #112
Thanks @ValeriaVG for the report. I can't reproduce the first example you gave:

[code]

Can you provide a more complete reproducer? That should definitely work.

As for your second example, that's trickier to support. If you allow that you end up in the situation where multiple routes can match the same URL, which turns routing from an `O(1)` to an `O(n)` problem. Currently we require that routes

[2021-12-06 08:54] ValeriaVG commented on #112
Apologies, indeed the first use case was conflicting with another path `/user/me` in my case, which makes sense along with the restriction.

[2021-12-06 09:32] ValeriaVG commented on #112
Sorry, no its actually not working:
[code]
The repo is https://github.com/ValeriaVG/social-network,  the error is reproducible if I replace:
[code]
with:
[code]

It's conflicting with:
[code]

[2021-12-06 11:03] eandre commented on #112
Yes, that is the same as the second case from the original post I believe. The target endpoint becomes dependent on the value of the `:id` parameter, where if it happens to be equal to `me` it would call one endpoint and otherwise another endpoint. I would either name the "get current user" endpoint just `/me` or `/users/me` or similar, if that works?

[2021-12-06 11:13] ValeriaVG commented on #112
No, of course, I'm using a different path, this is not an issue.
 But why then `/users/:username` and `/users/:username/posts` are allowed, but not `/users/me` and `/users/:username/posts`?

Following the same logic if the username is `me/posts` it will end up in a conflict that you are describing.

As in this will compile:
[code]

But not this:
[code]

[2021-12-06 11:33] eandre commented on #112
When you use the `:username` it's limited to a single path segment, so `/user/:username` could never conflict with `/user/:username/posts`. That said I see why it's confusing that `/user/me` is disallowed when you don't have a `/user/:username` route defined. I agree that is unambiguous and should probably be allowed. That is currently a limitation in the library we use (https://github.com/juliens

[2021-12-06 11:59] ValeriaVG commented on #112
Gotcha!
I'm guessing that's the issue https://github.com/julienschmidt/httprouter/issues/183
It seems to be a heated discussion there regarding if it should be supported or not.

I think it would be easier to document this as a known limitation or recommendation and see if it gets eventually resolved in the underlying library.

Let me know if I can help with that, otherwise, feel free to close the

[2021-12-06 15:07] #107 closed

[2021-12-06 15:07] #49 closed

[2021-12-07 17:11] eandre commented on #112
Yeah that's a great point. I definitely want to support this use case better, but as a first action documenting the current behavior is wise. We'll get around to it but if you feel like writing something up that would also be great!

[2021-12-12 12:01] ValeriaVG opened #114 "TypeScript Client improvements"
Client generation functionality is awesome, but I think there are some things that would make it better:

1. Add the ability to change token without re-creating a client instance. A simple solution would be to expose setter/getter for the said token instead of providing token as a constructor argument
2. Check that token is truthy before adding auth header. I've accidentally set it to `null` and r

[2021-12-12 13:43] eandre commented on #114
All of these ideas make a lot of sense and we'd be happy to incorporate all of them! There's also #50 with another set of improvements that we should add. Perhaps it's time to create a proper npm package to hold things like the error type you described and so on?

[2021-12-12 15:32] ValeriaVG commented on #114
Given that the common types are quite small I'm not sure if it's worth enforcing a separate dependency.
I'd imagine that a clean zero-dependency TypeScript would work without problems for node, deno and browsers (through a bundler).

I'd remove BaseClient completely and instead would pass Client's `exec` or `call` method to the service clients. This way the behaviour can be customized for almost a

[2021-12-15 08:57] eandre commented on #114
That's true, I agree with you. If you have a vision for how you think this should look, go for that! I trust your judgement :)

[2021-12-17 15:35] scastrec commented on #49
Thanks to this, It solve this error too:
`  ❌ Running database migrations... Failed: create db notes: failed to connect to admin database: failed to connect to `host=0.0.0.0 user=encore database=postgres`: dial error (dial tcp 0.0.0.0:61483: connect: connection refused)`

[2021-12-17 15:39] eandre commented on #49
Yes, the bugfix in #113 should fix that. Before we tag a new release with that bugfix you can work around the issue by running `encore daemon` from your terminal to restart the daemon (which clears the cache). Hope that helps :)

[2021-12-24 18:58] #112 closed

[2022-01-24 16:06] eandre opened #118 "cli/cmd/encore: better feedback on missing prod env for code gen"
When attempting to generate a client for an app, by default we try to generate it against the `prod` environment. That generally makes sense when there is a prod environment. When there isn't, you get a rather unhelpful error message:

[code]

We should detect this case and either default to the local environment, or better explain what the problem is and recommend `--env=local`.

Thanks to Zach H

[2022-02-07 04:42] mateusnobre commented on #98
Hi Andre, can I take this one? I just found the bug following the documentation, from what I understood, we have to:
- Make sure the test passes on applications that don't use databases (specifically, the hello world example) without need to have docker installed or running

I'm trying to understand the CLI code and where exactly I have to change things (I'm new to open source), if you can guide m

[2022-02-22 09:31] #103 closed

[2022-02-22 17:19] #68 closed

[2022-03-01 22:40] eandre opened #142 "parser: regression in API call detection"
We got a report from Max D that their application failed to parse with the latest changes on main, due to an error like:

[code]

The root cause appears to be that the refactored parser uncovered a pre-existing bug in the name resolution algorithm. Fix incoming.

[2022-03-02 16:01] eandre opened #144 "cmd/encore: encore test does not support code coverage"
When trying to run tests with code coverage enabled, Encore reports an error due to missing `go tool cover`. Thanks @ValeriaVG for the report!

[2022-03-02 16:31] #102 closed

[2022-03-02 16:31] eandre commented on #144
This is now fixed in `v0.19.0`! 🎉

[2022-03-02 16:31] #144 closed

[2022-03-02 16:32] #98 closed

[2022-03-02 16:32] #95 closed

[2022-03-02 17:35] ValeriaVG commented on #144
Oh happy day! Thank you @eandre !

[2022-03-15 10:01] gunnrcrakr opened #150 "App not deployed"
After I "git push encore"

everything worked fine and builds is succeed

but status is "Inactive" and "Not deployed"

[2022-03-15 10:15] marcuskohlberg commented on #150
I think you need to create an environment first, in order to deploy.
[Here's how in the docs](https://encore.dev/docs/deploy/environments).

[2022-03-15 10:41] #150 closed

[2022-03-16 13:46] valpetli opened #153 "Dart/Flutter client generation"
Our front-end is a Flutter application and it'd be awesome to add null-safe strongly typed Dart client generation to Encore.
We can provide example client as well as open a PR to implement this feature.

We'd like to use [Dio](https://pub.dev/packages/dio) as a base client and we could start with implementing `dart-dio` generation and treat other implementations as separate languages as suggested

[2022-03-24 16:38] eandre commented on #153
This sounds great! After some consideration I think a dio-specific generator is going to be easier to manage going forward than a pluggable one. What do you think?

[2022-03-30 16:42] jgeden opened #159 "Trouble recovering from failed 'Provision Infrastructure' step"
Hey y'all. First off, I love the project. I've just started working with Go and this framework is a huge bonus for working with the language.

I tried to do my first deploy yesterday and I ran into a few issues. At first it would fail when trying to provision a database.

<img width="805" alt="Screen Shot 2022-03-30 at 12 27 39" src="https://user-images.githubusercontent.com/31145777/160884751-4ab

[2022-03-31 08:32] valpetli commented on #153
@eandre We finally have a draft for the dart client:
- It uses named function parameters where possible, as opposed to objects
- Output classes are provide immutability & comparability (heavily inspired by freezed)
- URL, token and error parsing/handling is expected to be done via Dio functionality

[code]

[2022-03-31 17:46] valpetli commented on #153
Oh and I forgot to mention, that we might need to split generated code in multiple files  (one per service + umbrella client) as this seems to be the only way of implementing namespaces in Dart.

[2022-04-16 14:45] eandre opened #171 "Proposal: Support retrieving application and request metadata"
We've had several requests for more metadata about both the running Encore application and its environment, as well as about the currently running request. This proposal provides the suggested API for accomplishing these goals. Feedback is very much appreciated!

## Proposed API

[code]

[2022-04-16 15:13] vilhelmmelkstam commented on #171
I really like being able to fetch these values and I think it is a big maturity step for encore! Also like the extensive number of values to fetch, good work!💪

The only question I had was regarding path parameters. What is the reason behind using a array of name/values instead of a map? Maybe it's just me who have gotten accustomed to it by using JS frameworks 😅

[2022-04-16 15:21] eandre commented on #171
Thanks @vilhelmmelkstam!

That’s mainly for performance. Given the very very small number of path parameters in your typical endpoint it’s much faster to iterate over a slice than to do a hash map lookup.

[2022-04-17 11:04] MatthewJamesBoyle commented on #171
Great proposal.  This would solve some issues I have been facing (I ended up using a secret to get the current environment) and grabbing path params has been something I struggled with.

Some suggestions:
[code]
I think this should be
[code]

For a couple of reasons:
- A pointer to the request would allow consumers to manipulate the request in unexpected ways which should be discouraged.
- Returni

[2022-04-17 19:58] tomlazar opened #172 "Go client generation"
Encore is awesome first of all, it would be nice, and probably pretty simple to have a go version of the client generation for older legacy version of micro-services, along with things that aren't web servers like CLI's and non-webhook only bots like discord/teams.

[2022-04-17 20:33] eandre commented on #172
Hey @tomlazar, thanks very much for the kind words. Those are great points, and we definitely want to add Go client generation.

[2022-04-18 16:34] DomBlack commented on #171
Into the `Meta` data structure, I think we should include:
- The commit of the build.
- The rollout ID (while these two are closely linked they don't have to be the same)

In the `Request` data structure I think we should include the parent requests if one is present. Not sure how right now, but I'll think about it.

[2022-04-19 13:41] gmlewis opened #173 "API Docs: improve usability"
When generating docs for a `raw` endpoint, the API Docs generator says:

[code]

However, I think this could be improved to be more useful if it reported what it _does_ know about the endpoint.

For example, this:

[code]

could report the method and path of the endpoint even if it can't report the contents of the request body.

Additionally, the auto-generated godocs don't appear to be formatted

[2022-04-19 13:48] gmlewis commented on #173
Additionally, the "Service"-level documentation is taken from the wrong comment.

For example, if I have this:

[code]

The comment that gets shown on the API Docs page is the first one, not the second one (but it should indeed be the second one, the one that is tied directly to the "package" line).

[2022-04-20 12:16] iw-an opened #177 "Running Encore on windows fails"
Using the latest install version as provided in the docs, installed via powershell

Creation of the hello world template succeeds correctly and then running `git push encore` runs fine.

Doing `encore run` fails with:
[code]

[2022-04-22 16:20] DomBlack commented on #159
Hi @Josh0823, sorry for the late reply; but we're working on a fix for this currently and hope to have it released next week.

[2022-04-25 07:22] DomBlack commented on #172
Hi @tomlazar; we released Encore v1.0.0 🎉  over the weekend which included support for generating Go Clients. ([example of a generated client](https://github.com/encoredev/encore/blob/main/cli/internal/codegen/testdata/expected_golang.go))

Once you've updated your local CLI you can generate the client for your app with the command;

[code]

[2022-04-25 07:22] #172 closed

[2022-04-25 07:24] DomBlack commented on #177
Hi @iw-an; we released a new version of Encore over the weekend and included a fix for windows.

[2022-04-25 07:24] #177 closed

[2022-04-25 09:08] DomBlack commented on #153
For the Go client, we've prefixed the structures with the service name, such that `Request` became `SvcRequest` and we had `SvcFoo`, would this work for Dart as well?

[2022-04-25 09:17] valpetli commented on #153
@DomBlack Yeah that was a workaround we had in mind as well. The types would be have a stutter names like `UsersUser` or `LikesLikes`, but other than that it'll work ofc :-)

[2022-04-26 06:36] eandre commented on #173
Thanks @gmlewis! Those are really good points. We definitely want to improve the usefulness of the API docs for raw endpoints, so we'll take a look at fixing this. And contributions welcome of course if anyone's interested :)

[2022-05-14 21:10] eandre opened #215 "API Explorer doesn't scale well too large applications"
With many endpoints the API Explorer and API Docs become hard to use due to too much information.

We should add ways of filtering/narrowing down the endpoints by service, fuzzy search, or something like that.

Thanks Enver Bisevac for the report!

[2022-05-19 08:29] ghost opened #220 "What about CORS ?"
Sorry for asking, But I didn't see anything about CORS in document

[2022-05-20 13:35] DomBlack commented on #50
@vilhelmmelkstam this has now been resolved in #223 and will be included with the next release of the Encore CLI tool.

[2022-05-20 13:35] #50 closed

[2022-05-23 11:27] #114 closed

[2022-05-26 08:08] DomBlack opened #245 "Meta APIBaseURL reports wrong port locally"
Thanks to @ValeriaVG for the report:

A call to `encore.Meta().APIBaseURL.String()` reports `http://localhost:51203/` on local env, but should be `http://localhost:4000/`

[2022-05-27 16:51] #245 closed

[2022-05-27 16:52] DomBlack commented on #171
This was implemented in Encore v1.0

[2022-05-27 16:52] #171 closed

[2022-05-27 16:53] DomBlack commented on #159
Hi @jgeden; this fix was released a while back - sorry I forgot to update you / close the issue. Please let me know if you're still having issues.

[2022-05-27 16:53] #159 closed

[2022-05-27 16:56] DomBlack commented on #1
Hi @iJebus, @philbenoit the documentation was updated with the rollout of Encore v1.0.

[2022-05-27 17:27] #118 closed

[2022-05-30 07:50] derkan opened #251 "Running without cloud as single independent binary"
Hi,

This may be out of scope of this project but I wonder if it is possible deploy without cloud(kubernetes...), like directly as a binary which can run as a system service ?

[2022-05-31 19:18] eandre commented on #251
Hi @derkan, thanks for asking. It would be very helpful to better understand your use case. Encore is primarily designed for building cloud native applications; could you share a bit more how you would like to use it?

[2022-05-31 19:18] eandre commented on #220
Hey @gunnrcrakr, no need to apologize! Encore's API gateway does provide some CORS support out of the box, but it would be helpful to understand what you are looking to do with CORS?

[2022-05-31 19:49] eandre opened #258 "Proposal: support for Dependency Injection"
We've been looking at supporting Dependency Injection in a better way as that's been a highly requested feature by many of you. Here's a high-level proposal of how we see it working. Any and all feedback at this point is extremely valuable!

## Background
Dependency Injection means being able to define struct types that accept dependencies as fields, and filling in those fields at runtime with spe

[2022-06-07 07:57] gunnrcrakr commented on #220
Sorry for reply late.

I want to connect Frontend vuejs with Encore API

[2022-06-08 09:42] eandre opened #261 "Cloud database shells through 'encore db shell' doesn't properly keepalive"
When connecting to a cloud database through 'encore db shell' the connection does not properly use keepalive.

From digging this appears to be due to GCP's Load Balancer terminating the connection when there is no activity.

[2022-06-08 09:45] eandre opened #262 "`encore db shell` does not support session resumption"
When using `encore db shell` the database proxy does not handle session resumption requests correctly. The root cause is that it assumes any connection after the first is a cancellation request, but that is not true when resuming a session.

[2022-06-08 13:22] #262 closed

[2022-06-09 19:01] ekerfelt opened #265 "Proposal: Encore Messaging"
# Encore Messaging Proposal

Created: June 1, 2022 1:18 PM
Last Updated: June 10, 2022 1:52 PM

We’ve been looking into providing a cross-cloud encore abstraction for messaging. The feature set of messaging products across our supported cloud providers are somewhat different and the syntax is often overloaded, but the underlying semantics are relatively similar. The purpose of this proposal is to

[2022-06-10 06:33] valpetli commented on #265
I believe there might be an issue with circular dependencies due to topic struct being required for both publishers and subscribers.
For example:
- Service `a` publishes something to a topic `topic-a` and listens to a `topic-b`
- Service `b` publishes something to a topic `topic-b` and listens to a `topic-a`

This would require service `a` to import `b.TopicA` and service `b` to import `a.TopicB`,

[2022-06-10 09:33] eandre opened #266 "Local db connection pools are not synced with database max connections"
The local database configuration does not currently set a max connection size based on the database server's max connections. This can become a problem with a large number of databases. We should fix this by taking the max connections into account when deciding on pool sizes.

Thanks @ValeriaVG for reporting!

[2022-06-10 11:59] ekerfelt commented on #265
Awesome feedback Val! I've updated the proposal to include a package level NewSubscription function where you can reference a topic by name. It's also possible to declare the topic in a separate package if e.g. multiple services want to publish to the same topic. An advantage of using a shared topic reference is that it makes it a bit easier to find usages of it and it'll give you some additional

[2022-06-12 14:02] eandre opened #267 "encore eject does not support cross-compilation"
The new `encore eject` command does not currently support cross-compilation. This most commonly causes problems when trying to build production images from Macs running Apple Silicon. We should fix this to allow specifying GOARCH when ejecting.

[2022-06-12 14:03] eandre opened #268 "`encore eject docker` does not support specifying the base image"
When using `encore eject docker` it would be convenient to be able to specify the base image to build the image from.

[2022-06-13 09:05] #267 closed

[2022-06-27 15:10] vilhelmmelkstam commented on #265
With this feature, I feel like the ability to accept and process data later has increased. Before, this would have had to happen by some external program handling the request, but with messaging, tasks can be completed after the endpoint has finished.

I feel this change might mean that the HTTP status `202 Accepted` would be a nice inclusion. Personally, I see a few use cases where we would like

[2022-06-27 17:14] eandre commented on #265
I think the distinction between `200`, `201`, `202` are largely academic and in reality just communicate "everything went well". Over time we've been incrementally adding support for additional HTTP semantics so we could look to support arbitrary HTTP status codes, but I'm not sure it adds a lot of utility? If you think it would be useful please open a separate issue and describe the use case in a

[2022-07-01 12:50] eandre commented on #268
This is now fixed.

[2022-07-01 12:50] #268 closed

[2022-07-01 13:03] #266 closed

[2022-07-17 19:55] Minivera opened #310 "Updating encore doesn't clean the runtime directory"
Hi,

I recently updated encore from `0.23.0` to `1.3.1` and, when using `encore run`, it seems like some leftover code from previous versions was causing name conflicts when compiling with the runtime. Here are the errors I was seeing:

[code]

After doing some digging, I found that the `internal.go` files [was renamed in April](https://github.com/encoredev/encore/tree/fd16e7c544bda065968db5f8316c

[2022-07-17 20:08] eandre commented on #310
Thanks @Minivera for the report! The`install.sh` script (available at https://encore.dev/install.sh) contained code to clear out the Go runtime but for some reason I didn't think to also clear out the Encore runtime. I've updated the script to do that, so this should now be fixed for future upgrades. Thanks!

[2022-07-17 20:08] #310 closed

[2022-07-17 20:10] eandre commented on #265
This is now live with Encore v1.3.0! 🎉

Not all the functionality in the proposal were added in the initial release in order to keep the scope down, but we'll keep iterating on the functionality over the next few releases. Thanks everyone for the feedback!

[2022-07-17 20:10] #265 closed

[2022-07-17 20:10] eandre commented on #261
This should now be fixed. Please reopen if you notice it happening!

[2022-07-17 20:10] #261 closed

[2022-07-17 20:12] Minivera opened #311 "Proposal: Encore command to run a main.go file as-if it was running as a service"
I have a few scripts written in go for things like code generation for ORMs or other tools that need access to the database or secrets. To give an example, if I want to access the database connection URL in a script, I have to do something like this:

[code]

I can then create a `generate.go` file with something like `//go:generate go run -mod=mod ./some_tool/main.go --system users` to use `go gen

[2022-07-17 20:12] Minivera commented on #310
Awesome! Thanks for the quick fix

[2022-07-23 15:06] eandre commented on #311
This is a great idea. We should definitely support something like this. Thanks very much for the detailed explanation and rationale!

[2022-08-02 12:38] melkstam opened #319 "Multiple json ignore tags (`json:"-"`) is not allowed"
Structs with multiple json ignore tags (`json:"-"`) gives the following error:

[code]

However, as `json:"-"` means ignoring, multiple in the same struct should be allowed. It is also allowed in the standard `encoding/json` library.

Minimal reproduciable example:
[code]

Working golang example ([playground](https://go.dev/play/p/o8tl_3Fr0Gi)):
[code]

Output
[code]

[2022-08-02 13:01] eandre commented on #319
Thanks for the report! Fix incoming

[2022-08-02 13:11] #319 closed

[2022-08-05 22:19] sbdchd opened #325 "FTL could not run error=EOF"
I'm not sure what FTL is but the error message for it is a little terse

The hot reloading still seems to be working even though the error is being logged.

[code]

[2022-08-05 22:26] eandre commented on #325
Hey Steve, thanks for the bug report! This is a harmless log message, and it's due to the app logging a spurious error during graceful shutdown. It's already fixed in the upcoming release next week. FTL is shorthand for log-level fatal, which comes from Encore's use of github.com/rs/zerolog. Sorry for the confusion!

[2022-08-05 22:31] sbdchd opened #326 "Better error messages for client code gen"
I saw https://github.com/encoredev/encore/issues/118 which is very similar / the same issue, but the current error message isn't great

[code]

but this worked:

[code]

[2022-08-05 22:31] #325 closed

[2022-08-05 23:07] sbdchd opened #327 "Using without docker?"
I'm going through the tutorial and got to the database section:

Is there a way to use a locally running PG instead?

I like to run PG locally rather than use docker because docker tends to be a resource hog on mac

[2022-08-08 19:47] eandre commented on #327
Hey @sbdchd, good question! The issue with supporting this is that running Postgres yourself typically assumes there's only one database cluster, whereas Encore provisions two separate database clusters (one for running your application and a separate one for running tests). Docker makes that really easy.

We have some unofficial support for this but it's primarily intended for running Encore test

[2022-08-08 19:47] eandre commented on #326
Thanks, you're absolutely right. Will fix this, thank you!

[2022-08-22 04:12] mrcampbell opened #345 "Unable to login without Browser"
I've got an Ubuntu server that I'm going to be using for development so I can access it readily from my different machines.  I can't do any Encore dev without being logged in, and I can't login without a browser

[code]

I'm open to trying to contribute to a fix.  Maybe if I were able to set a token somewhere?  I'm able to open the link locally and get my token, but need to set it on my Ubuntu ser

[2022-08-22 04:17] mrcampbell commented on #345
I was able to log in with an Auth Key.  Some digging around in the CLI code let me know that there is a `--auth-key` flag in login.

I was able to go to the project in https://encore.dev, go to `https://app.encore.dev/<app-name>/settings/access/auth-keys`, generate a key, and then ran

`encore auth login -k <key that was generated>` and baddabing baddaboom.

Keeping this ticket for posterity, but

[2022-08-22 04:28] mrcampbell commented on #345
Hm.  I'm logged in, but can't do anything dev-wise?

[code]

[2022-08-22 04:37] mrcampbell commented on #345
I was able to add Github, create a repo, link the repo, and then pull the repo on the dev machine.  So there is a workaround, but it'd be cool to be able to just go by Encore itself!

[2022-08-23 20:56] melkstam opened #348 "Error when fuzzing using `encore test`"
When trying to run fuzzing, I seem to get an error when using `encore test`, but not for using `go test`. See example below:

[code]

[code]

This works fine:
[code]

While this do not:
[code]

[2022-08-23 21:03] eandre commented on #345
Thanks very much @mrcampbell, those are all very valid points. Authentication keys were designed for authenticating machine users with a single application, so they do not inherit permissions for creating applications on behalf of the user who created the authentication key.

We definitely need to add better support for authenticating as a (non-machine) user in a more non-interactive way that does

[2022-08-23 21:07] eandre commented on #348
Interesting, that should work. Will have a look.

[2022-08-26 18:53] eandre opened #352 "Encore does not support workspace mode"
Since the introduction of workspace mode, the fact that Encore hardcodes `go build -mod=mod` is problematic, as it is not supported when using workspaces.

That said, it's not clear whether this is still necessary. We need to investigate if this setting is still needed, and find a way to support workspaces.

[2022-08-27 13:34] junevm opened #353 "homebrew install error"
I am getting this erro when installing on gitpod

[code]

also tried `brew install --HEAD encoredev/tap/encore`

but getting this error
[code]

[2022-08-27 14:27] eandre commented on #353
Ah, interesting, thanks for the report! Currently the Homebrew repository was only intended for macOS use and not Linux, but we should add support for Linux as well.

Does it work if you use the Linux setup? (https://encore.dev/docs/quick-start)

[2022-09-08 07:13] eandre commented on #353
Hey @a0v0, for Encore v1.6 (released yesterday) we've added Linux binaries to the homebrew formula: https://github.com/encoredev/homebrew-tap/blob/main/Formula/encore.rb

Do you mind giving it another go? I haven't been able to verify whether something else needs to be added. Thanks!

[2022-09-09 02:05] mrcampbell opened #363 "Add Caching Service?"
I've got an extremely slow external API call and was going to add a caching service in my project, but wondered if there was a general enough definition for a caching service in Encore?

Maybe a wrapper around etcd or Redis?

The service I was envisioning would have Key/Value, TTL and invalidate/delete.  Nothing crazy.

Is this a feature I could contribute to?

[2022-09-09 13:22] melkstam commented on #363
I don't work at encore, but they have quite recently added a proposal for caching built around Redis. From my understanding, the proposal should cover your use case. The proposal and discussion can be seen here: https://github.com/encoredev/encore/discussions/355.

[2022-09-09 20:10] mrcampbell commented on #363
Perfect!!!  Thank you!!!

[2022-09-09 20:10] #363 closed

[2022-09-14 10:23] BogDAAAMN opened #367 "Codespaces: Building container failed"
Hey hey!!

I am trying to run encore on Codespaces and it seems like something goes wrong in the `.devcontainer`. The codespace fails to build and automatically runs into recovery mode. These are the error creation logs:

[code]

Is there something I can do about the config to fix this?

[2022-09-14 11:55] #367 closed

[2022-09-14 11:57] eandre commented on #367
Hey @BogDAAAMN, sorry about that. It looks like the main issue is needing a Go version bump. I've just merged #368 to fix this, please try with that!

[2022-09-19 02:25] #353 closed, assigned to eandre

[2022-09-20 17:53] bih opened #371 "Client gen code support: JavaScript"
We currently support TypeScript, but for older clients, they may want an untyped version if they don't use TypeScript at all in their codebase.

See code files here:
- <https://github.com/encoredev/encore/blob/main/cli/internal/codegen/typescript.go>
- <https://github.com/encoredev/encore/blob/main/cli/internal/codegen/testdata/expected_typescript.ts>
- <https://github.com/encoredev/encore/blob/ma

[2022-09-20 17:56] bih opened #372 "Client code gen support: Ruby"
For some advanced codebases, they may use Ruby in some parts and wish to slowly migrate to Encore. In this case, we'd benefit from being able to generate a Ruby client that they can use to talk to their Encore app as they slowly migrate.

See code files here for the TypeScript implementation:
- <https://github.com/encoredev/encore/blob/main/cli/internal/codegen/typescript.go>
- <https://github.com

[2022-09-20 17:56] bih opened #373 "Client code gen support: Python"
For some advanced codebases, they may use Python in some parts and wish to slowly migrate to Encore. In this case, we'd benefit from being able to generate a Python client that they can use to talk to their Encore app as they slowly migrate.

See code files here for the TypeScript implementation:
- <https://github.com/encoredev/encore/blob/main/cli/internal/codegen/typescript.go>
- <https://github

[2022-09-21 08:55] simon-johansson commented on #61
@melkstam I have been working on applying the Encore branding to the local dev dash. This problem is now hopefully resolved (see video below). The new styling should be available soon, in the next release of the CLI.

![2022-09-21 10 35 57](https://user-images.githubusercontent.com/1826823/191460769-bd8c8264-6ff0-492c-8ec0-f829dc6aeee9.gif)

[2022-09-21 08:55] #61 closed

[2022-09-21 19:03] melkstam opened #378 "Caching: Inconsistent method naming for increment/decrement"
The methods for incrementing and decrementing for int and float keyspaces are inconsistent. They are called `Decr` and `Increment`, which I assume is not the intended naming.

- https://pkg.go.dev/encore.dev/storage/cache#FloatKeyspace.Decr
- https://pkg.go.dev/encore.dev/storage/cache#FloatKeyspace.Increment
- https://pkg.go.dev/encore.dev/storage/cache#IntKeyspace.Decr
- https://pkg.go.dev/encor

[2022-09-21 19:08] melkstam opened #379 "Docs(Caching): Wrong type in struct key example"
The example showing how to use structs as keys seem to not use the struct as key

https://github.com/encoredev/encore/blob/43a88f083d3c32c7773eddea49c457d3982514f5/docs/develop/caching.md?plain=1#L114-L126

[2022-09-21 19:11] eandre commented on #378
Whoops, great catch. We ended up renaming (or at least we intended to rename) `Incr/Decr` to `Increment/Decrement` at the last minute, but the `Decrement` change got lost. Will fix and issue `v1.7.1` immediately to minimize the issue.

[2022-09-21 19:17] melkstam opened #381 "Docs(Caching): Link to wrong keyspace on pkg.go.dev"
In the caching documentation, the link to the struct keyspace docs on pkg.go.dev actually points to the string keyspace docs.

https://github.com/encoredev/encore/blob/43a88f083d3c32c7773eddea49c457d3982514f5/docs/develop/caching.md?plain=1#L150

[2022-09-21 19:27] #378 closed

[2022-09-22 08:48] bih opened #382 "Toggle between relative/absolute times in trace logs in local dev dashboard"
## Problem
As per request by a user in our Slack community, there was an issue regarding being able to easily change between relative and absolute timestamps for the tracing view.

This is so the user can cross-reference your cloud console (i.e. Google Cloud Logging) and the Encore UI.

## Solution
We today only support showing relative date (i.e. 1 min ago) and you can see the absolute date upon

[2022-09-22 15:31] eandre commented on #381
This is fixed in v1.7.1, thanks!

[2022-09-22 15:31] #381 closed

[2022-09-22 15:31] eandre commented on #379
This is fixed in v1.7.1, thanks!

[2022-09-22 15:31] #379 closed

[2022-09-22 16:27] bih opened #384 "Copy as cURL does not work when using structs for GET requests"
Returns the correct result when running through the Local Developer Dashboard, but not when copying the cURL command for a GET endpoint with parameters. The equivalent cURL command that it is rendering is:

[code]

And renders this error in my system (which does not appear when running in the local developer dashboard as you can see below):

[code]

<img width="1239" alt="Screenshot 2022-09-22 at

[2022-09-23 13:26] eandre opened #386 "encore.dev/storage/sqldb does not expose PostgreSQL error codes"
In order to detect various PostgreSQL errors it would be great if Encore's sqldb package exposed the underlying error code.

Workarounds exist (see #117) but they rely on the underlying database driver being `jackc/pgx`. Encore should expose these error codes natively through the `sqldb` package so that applications do not need to poke at the underlying database driver.

[2022-09-27 21:06] eandre opened #393 "`encore run` does not print compile errors in all circumstances"
Mrinal Wahal reported on [Slack](https://encore.dev/slack) an instance where `encore run` did not print the error when there was a compile-time error in the application. The error was discovered by running `encore daemon -f` in a separate terminal, which printed the error message. We should ensure compilation errors are always printed.

[2022-09-28 16:32] ElliottDenlinger commented on #386
@eandre I'm poking around looking for a potential hacktoberfest issue. I've read the contribution guidelines but, I didn't see a section on how your team assigns issues to contributors. Do you request that we just open a PR and tag the issue or is there an assignment process?

[2022-09-28 21:54] ElliottDenlinger commented on #386
@eandre I'd love to at least take a crack at it. I've not read any of the encore source other than a quick skim this morning so we'll see if I'm in over my head or not :D.

I'm not too familiar with your current strategy for chaining errors. Did you have any immediate thoughts on what you were hoping to see as a way to expose the codes? I'll go spelunking through the way you are currently wrapping

[2022-09-30 13:02] KingRial opened #398 "[Windows][Powershell 7.2.6] Command "encore version update" doesn't end succesfully"
On Windows, when using latest version of Powershell, I am unable to update correctly Encore using the command "encore versione update"

![image](https://user-images.githubusercontent.com/886518/193274652-f4c8094e-41a0-4bc6-90bc-68b9afaf35aa.png)

As you can see the command is unable to remove the executable and won't continue to update the local encore framework.

Usually I download manually the t

[2022-10-03 08:16] teleivo commented on #384
Hi @bih 😄 I'd like to have a look at this one if that is ok.

[2022-10-03 09:04] bih opened #401 "`encore db conn-uri <system>` does not throw a warning if the system/db does not eixst"
### Problem

For example, I run `encore db conn-uri hello` but my application don't have a service called `hello`. We should throw an error saying "The hello service does not exist"

### Solution

The relevant code for this CLI command is here:
https://github.com/encoredev/encore/blob/main/cli/cmd/encore/db.go#L173-L215

And specifically here:
https://github.com/encoredev/encore/blob/main/cli/cmd/

[2022-10-03 09:05] bih opened #402 "Avoid using `Named` for getting the driver for the current system's DB"
See Slack thread: https://encoredev.slack.com/archives/CQFNUESN9/p1664736264406129

[2022-10-04 05:08] teleivo commented on #384
@bih the error you are seeing might be due to the query parameters not being converted to snake-case as described in https://encore.dev/docs/develop/api-schemas#query-parameters

So if I lowercase the `TimeRange` struct fields `Start` and `End` to and adjust the `end` date as its default is the same as the `start` date:

[code]

the request is successful and shows the same result as in the UI 😄

[2022-10-04 13:52] Minivera commented on #402
I'll start on that one for Hacktoberfest

[2022-10-04 14:16] eandre commented on #402
I'm not convinced this is a good idea. I'm worried it increases the risk of deleting or modifying data you didn't intend to, because a code snippet was moved from one service to another.

What's the pain point you were feeling that motivated your wanting this, @Minivera?

[2022-10-04 14:39] Minivera commented on #402
In my opinion, controlling and creating databases through code would be better, but this small change could also help a lot in the meantime.

[2022-10-05 08:39] eandre commented on #402
I think introducing `sqldb.NewDatabase("name")` and have that return a `*sqldb.DB` would solve a lot of these issues, and give you more control over database creation and decouple the name of the database from the name of the service the code lives in. And if the compiler doesn't catch the issue of `sqldb.Named("blah")` referencing a database that doesn't exist, we should fix that. Would those two

[2022-10-05 14:02] Minivera commented on #402
That would yes! Do you think the first one (`sqldb.NewDatabase("name")`) would be something worth investigating during hacktoberfest? I can work on the second one no problem, but the first one might be more complex (Happy to start with a proposal there)

[2022-10-07 21:10] Minivera opened #410 "Proposal: Object Storage"
# Why
Object storage is on the roadmap and I think it would be a great addition to the framework as it would enable a lot of use cases, like hosting static assets for dynamically generated web applications (backend for frontend or micro-frontends) or file storage for users.

While web hosting could be solved by embedding the static assets inside of the binary (with `//go:embed`, maybe using someth

[2022-10-07 21:17] Minivera opened #412 "Write a guide for using encore for serving static assets"
Encore could be used for building micro-frontend, backend-for-frontends, or just to centralize where files are served from. This should be fairly simple using `//go:embed`, a "how-to" guide could be great to describe this.

[2022-10-07 21:41] Minivera opened #413 "Proposal: Manual database management"
# Background
Database are currently handled by adding a migrations file in the migrations folder, once that's done, a database is created and you can access it in that system or other systems. This can cause some confusion, for example:

- I am starting to write code in a system, but didn't add a migration file. I might try to start connecting to that database with an external GUI client to experi

[2022-10-07 21:42] Minivera commented on #402
I created the issue for the `sqldb.NewDatabase("name")` proposal, feel free to edit it or close it if that's not what you have in mind. I had some thoughts and I like to throw things down in written form before I forget.

[2022-10-08 07:35] djayatillake commented on #401
I'll have a go at this.

[2022-10-08 09:51] gedw99 opened #414 "Gen golang client for wasm"
I normally gen a golang client to run as wasm so that it runs as a Web Worker in the browser .

it makes building the GUI easier for me at least

I compile with tinygo.

Don’t use http , but instead call the fetch browser api.

Add the build tags

Then I can run it in a browser or in a mobile app( using the standard golang client ).

The api between the golang wasm Client and the a actual GUI is u

[2022-10-08 10:18] gedw99 commented on #413
Atlas can do auto migration I think if that helps. It’s written by the Ent Team

[2022-10-08 21:26] Minivera opened #416 "Support watching go:embed files in `encore.run`"
The `notify.Watch` call during the execution of `encore.run` is configured to only watch go files and the files that encore need to compile the go application, https://github.com/encoredev/encore/blob/628ce4ec1e00d8a86c64b2a7b5ef1e45386c6727/cli/daemon/run/watch.go#L55.

If embedding files into the binary with `go:embed` for example, encore will not recompile when those file change unless you make

[2022-10-08 21:31] Minivera opened #417 "Error when trying to test a raw endpoint"
When I try either of these way of testing the following endpoint, I get the subsequent errors. This makes testing raw endpoints more difficult as the only workaround is to extract the logic in another function, which is not documented.

## The code

[code]

## Using the function directly

[code]

Throws `/tmp/encore-test1833923309/hello/hello_test.go:20:2: undefined: EncoreInternal_CallIndex`.

##

[2022-10-09 12:00] kVarunkk opened #419 "Docs: Difference in the content of docs/quick-start on the website and on this repository"
There is a noticeable difference in the content of docs/quick-start on the [encore website](https://encore.dev/docs/quick-start) and on the  [quick-start.md](https://github.com/encoredev/encore/blob/main/docs/quick-start.md) found in this repository.

Differences:

- **Run your app locally** and **Explore Encore** are 2 different headings in the website and repo respectively with the same content

[2022-10-10 10:44] #326 closed

[2022-10-13 19:46] eandre opened #438 "Failure to parse recursive types"
With the introduction of a new mechanism to validate schemas in Encore v1.8.0 we have a regression for types that are recursive or mutually recursive.

Reproducer:

[code]

Fix incoming.

Thanks Juan Álvarez for the report!

[2022-10-13 20:10] #438 closed

[2022-10-14 11:47] MaxDanielsson opened #441 "bug: unnamed type in response struct"
Encore panics when running `encore run`, reported as to follow the directions from the error itself

<img width="936" alt="Screenshot 2022-10-14 at 13 46 21" src="https://user-images.githubusercontent.com/33028551/195839430-eb57d974-43ed-495c-9b59-4e2b524ff346.png">

[2022-10-14 19:54] ElliottDenlinger commented on #386
I've had a change of plans come up for the next few weeks in the time since we started discussing my taking the issue. Others should feel free to ask for this to be assigned to them.

[2022-10-15 09:55] ronaudinho commented on #386
@eandre I'll take a look at this over the weekend if no one else is currently working on it.

[2022-10-15 11:23] eandre commented on #386
Sure, thanks @ronaudinho!

[2022-10-15 12:12] gagandeepp commented on #373
@bih Interested please assign

[2022-10-15 12:15] gagandeepp commented on #9
@eandre Hi I am interested in this,please provide more details

[2022-10-15 12:48] eandre commented on #373
Hi @gagandeepp, that's great! Happy to assign it to you, but do note this is something that needs design work before we can start implementation. So the first step is to sketch out what the API should look like.

If you are happy to take a stab at that, let me know and we can definitely assign this to you. Thanks!

[2022-10-17 03:23] Smartmind12 opened #443 "Adding Issue Template"
Currently there are no templates for users to Create Issues. Hence adding Templates would streamline the process of raising an issue in the repository or contributing to the same.

Kindly assign this issue to me so that I can start working on it ...Thanks!

[2022-10-17 03:28] Smartmind12 opened #444 "Adding Pull Request Template"
Currently there is absence of the Pull request template which results into unstructured pull requests, making it difficult for admins to review and users to checkout these PR. Hence would suggest addition of Pull Request template to make such contributions streamlined and structured.

Kindly assign this issue to me so that I can contribute to this...Thanks!

[2022-10-18 12:02] pwnb0y commented on #444
assign me

[2022-10-18 12:02] pwnb0y commented on #443
assign me

[2022-10-18 12:44] Smartmind12 commented on #444
I raised this issue and i am waiting for it to be assigned to me …kindly find another issue …Thanks!!

[2022-10-18 12:44] Smartmind12 commented on #443
I raised this issue and i am waiting for it to be assigned to me …kindly find another issue …Thanks!!

[2022-10-19 16:14] ronaudinho commented on #386
did a bit of digging and so far I see several ways to go about this:
1. wrapping `pgconn.Error` as an error type that implements [errs.ErrDetails](https://github.com/encoredev/encore/blob/49a2d858ee8ab00336b162540061e232e9d3f70e/runtime/beta/errs/details.go#L9) interface -> would require two types assertion to unwrap as I see it, which of course can be done in a new convenient function
2. if it is

[2022-10-19 17:00] ronaudinho commented on #386
sounds about right to me. to clarify, does this mean changing the type of error returned by `convertErr` function from `*errs.Error` into this new `*sqldb.PgError`?

[2022-10-20 21:13] sourcec0de commented on #410
This module provides drivers for fs, azure, aws, and gcp.
Could be a good starting point for `encore.Storage`
https://gocloud.dev/

[2022-10-20 21:42] eandre commented on #410
Thanks @Minivera for writing this up! Totally agree with the direction and the API sketch mirrors my thinking.

The main thing we need to figure out is the API surface area to include in the v1. There are lots of potential things to include, from pre-signed URLs and batch uploads to Cloud Functions in response to bucket/object events.

@sourcec0de that's a very good idea. I've looked at go-cloud i

[2022-10-21 00:17] Minivera commented on #441
I think the issue here is the response type _has_ to be a struct, nothing else. In your case, it looks like it's a slice?

Maybe try creating an intermediary struct like

[code]

You might also run into issues as it looks like you've for multiple response types. I think you'll want to add the `modles.EnvMetrics` and the transportation.GetTotalCostResponse` to that intermediary struct.

[2022-10-21 16:21] Minivera commented on #410
That's an excellent question, I kept it open to start the discussion 😄 I do not know all that's possible with Object Storage, just prefacing in case these suggestions don't cover all the use cases you have in mind. In my opinion, I think a good v1 should cover a few things:

1. Upload files with or without metadata
2. Download files, list files, everything I'd expect to manage my files.
3. Downloa

[2022-10-21 22:05] eandre commented on #441
Yes, what @Minivera said is the issue I believe. Closing this with that assumption, but please reopen if it's not the case. Thanks!

[2022-10-21 22:05] #441 closed

[2022-10-21 23:40] pablojimpas opened #461 "Add support for PostgreSQL extensions (e.g., PostGIS, TimescaleDB)"
Hi!

I've just discovered Encore, and I'm planning to use it for a project that will rely on some PostgreSQL extensions.
Is this possible already today? I didn't find anything in the docs and I assumed that being an opinionated solution you provision a pre-configured Docker container with the database and there is no way to customize this deployment. Hopefully I'm wrong and this is already possibl

[2022-10-22 10:01] Abubakrce19 opened #463 "Encore image in readme.md is not linked."
Hyperlink the encore image to the official website of encore.

[2022-10-30 09:01] #371 closed

[2022-11-01 12:44] melkstam opened #499 "bug: cache cluster cannot be defined outside of service"
When trying to specify an cache cluster outside of an serivce, this error occurrs. Simply moving the  initialization to a service seems to solve this issue.

I don't know if this intended or not, but it does work to create PubSub topics outside of services, so there is at least some inconsistency. But please feel free to close this issue if this is intended.

[code]

[2022-11-01 12:45] eandre commented on #499
Thanks @melkstam, this is a bug and not intended. Will fix.

[2022-11-01 14:52] pksieminski opened #500 "Bug: PubSub subscription declared in service subpackage doesn't fire handler"
Moving PubSub subscription to service subpackage results in handler not being fired when new messages are published to the topic.

Considering the following `payment` service structure:
[code]

With `event.go` in `event` subpackage, declaring the subscription:
[code]

The `payment.OrderEventHandler` is not fired, but if subscription is moved back to `pubsub.go` in `payment` package, it works prope

[2022-11-01 18:13] Willyham opened #501 "Add config.Duration type"
It would be nice to have a `config.Duration` type which parsed values into Go's standard `time.Duration` format. Ideally this would work identically to go's native duration parsing https://pkg.go.dev/time#ParseDuration.

[2022-11-01 21:51] shixzie opened #503 "Add a way to export enum-like types to generated clients"
If you have a enum-like type

[code]

and then generate a client `encore gen client [project-id] -l [lang]`

the generated client won't contain any of the available constants, I suggest a way to have an encore-type comment to tell the compiler to include the constants inside a certain block.

[code]

with the constants being included in all languages unless a language is specified.

[2022-11-16 21:08] melkstam opened #521 "Support more PostgreSQL features"
The underlaying driver used by encore to manage the is [`jackc/pgx`](https://github.com/jackc/pgx) which supports features such as copy from and batch queries. However, encore does not add support or forward the APIs for these features, something that would be nice to have.

[2022-11-27 22:17] brentd commented on #521
I ran into this while working on a proof of concept with sqlc when it's configured with `sql_package: pgx/v4`. The code generated by expected me to provide a db object matching an interface which has `CopyFrom` (and possibly other missing methods depending on what features of sqlc I use).

We have this, which will return a `*sql.DB` compatible struct:

[code]

It would be nice to have this as well